#title{text-shadow:1px 1px 4px #F5D0A9;position:absolute;top:20px;left:70px;font-family:'Junge',serif;font-size:18pt;font-weight:bold;color:#121;cursor:pointer;text-align:left;}#title .capital{font-size:25pt;color:#142;}
#title .slogan{font-family:'Junge',serif;font-size:9pt;font-weight:lighter;color:#2A4;}#title .slogan .emphasis{color:#24D;}
